.root {
-fx-background-color: lightblue;
-fx-font-size: 10pt;
}

.label {
    -fx-text-fill: white;
    -fx-font-weight: bold; 
    -fx-font-size: 11pt;
}

.button {
    -fx-background-color: #F7EEB7;
    -fx-text-fill: #8C1D3F;
    -fx-font-weight: bold; 
}